.news .media {
    border-bottom: 1px solid #9e9e9e
}

.news .media img {
    width: 5rem
}

.researches li,
.studies li {
    margin-top: 1.2rem
}


.nav-item:focus {
                    border:1px solid white;
    box-shadow: 0 0 10px #719ECE;
}